* {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
    border: 2px solid #000;
    
}

.contain {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} 

button {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
}

.button_container {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 50%;
}

th {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: auto;
}

td {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: auto;
    text-align: center;
    margin-top: 5px;
}